name: CI Inicial

on:
  push:
    branches: [ "main" ]


jobs:
  teste:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Teste
        run: echo "GitHub Actions Working"
